<h1>Editing Species</h1>

<%= render 'form', species: @species %>

<div class="card mt-3">
  <footer class="card-footer ">
    <%= link_to 'Show', @species, class:'btn btn-link' %>
    <%= link_to 'Back', species_index_path, class:'btn btn-link' %>
  </footer>
</div>