<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title text-capitalize">
      <%= t :new_species %>
    </h5>
  </div>
</div>

<div class="card mt-3 mb-3">
  <div class="card-body" style="padding: 0.25rem;">
    <%= link_to t(:back), species_index_path, class: 'btn btn-link' %>
  </div>
</div>

<%= render 'form', species: @species %>
